html {
  background-color: #efece7;
  color: #1a1a1a;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

/* header */
.logo {
  width: 70px;
  height: auto;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

/* BURGER */
.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 100%;
  background: black;
  display: block;
}

/* MENU (mobil) */
.menu {
  position: absolute;
  top: 70px;
  right: 20px;
  padding-top: 20px;
  display: none;
  flex-direction: column;
  gap: 20px;
  text-align: right;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

/* når menu er åben */
.menu.active {
  display: flex;
}

/* footer */
