:root {
  --color-bg: light-dark(#efece7, #0b0b0b);
  --color-text: light-dark(#1a1a1a, #f2f2f2);

  --color-accent: light-dark(#d8cfc2, #c23434);
  --color-border: light-dark(#000000, #ff0000);
  --color-card-bg: light-dark(#d8cfc2, #5f0000cd);
  --color-hoover: light-dark(#d9ccbb, #c00e0e);
  --color-single-word: light-dark(#ffffff, #ff0000);
}

html {
  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-bg);
}

html.dark {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

#changeBtn {
  position: absolute;
  width: 150px;
  margin-top: 10px;
  margin-left: 80px;
  background-color: light-dark(#1d1b19, #ffffff);
  color: light-dark(rgb(220, 216, 215), #1d1b19);
  border: none;
  padding: 8px 16px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 10;
  font-family: "italianno", cursive;
}

#changeBtn:hover {
  background-color: light-dark(#000000, #fff6ec);
  transform: translateY(-2px);
}

#changeBtn:active {
  transform: translateY(0);
}
h1 {
  font-family: "italianno", cursive;
}
h2 {
  font-family: "italianno", cursive;
  font-size: 2.5rem;
  font-weight: 200;
}
h3 {
  font-family: "italianno", cursive;
}
h4 {
  font-family: "inria-serif", serif;
  font-weight: 300;
  margin-bottom: 10px;
}
a {
  font-family: "italianno", cursive;
  font-weight: 300;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

/* HEADER */

/* HERO  */
.hero {
  position: relative;
  height: 50px;
}

.hero-bg {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: -1;
}
.hero-logo {
  position: absolute;
  margin-left: 10px;
  width: 60px;
  filter: light-dark(none, invert(1));
}

/* BURGER MENU */
.nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}

/* BURGER IKON */
.burger {
  width: 28px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 100%;
  background: var(--color-text);
  display: block;
}

/* MENU  */
.nav ul {
  position: absolute;
  top: 38px;
  right: 0;
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

/* BURGERMENU ÅBEN */
.nav.open ul {
  display: flex;
  background-color: var(--color-bg);
  padding: 20px 170px 20px 170px;
  margin-right: -21px;
  margin-top: -60px;
}

/* LINKS */
.nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-align: center;
}

/* Hover */
.nav ul li a:hover {
  opacity: 0.6;
}

/* FOOTER */
.footer {
  padding: 40px 60px;
  font-size: 14px;
}

.footer-line {
  height: 1px;
  background-color: var(--color-border);
  margin-bottom: 40px;
}

/*  To kolonner */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  gap: 30px;
}

.footer-contact p {
  margin: 6px 0;
}

/* Social icons */
.icons {
  display: flex;
  gap: 14px;
}

.icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Midterlinje */
.footer-divider {
  width: 60px;
  height: 1px;
  background-color: var(--color-border);
  margin: 40px auto 20px;
}

/* Copyright */
.footer-copy {
  text-align: center;
  font-size: 12px;
}

@media (min-width: 1000px) {
  .main {
    padding: 50px 80px 80px;
  }

  .burger {
    display: none;
  }

  .nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .nav.open ul {
    padding: 0px 70px 20px 170px;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    gap: 500px;
  }
  .footer-socials,
  .footer-contact {
    text-align: center;
  }
}
