.hero2 {
  position: relative;
}
.half-image {
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 50%;
  height: 1000px;
  object-fit: cover;
  object-position: 35% 50%;
  filter: grayscale(100%);
}

.hero-text h1 {
  position: absolute;
  margin-top: 260px;
  left: 15%;
  z-index: 5;
  font-size: 150px;
  font-weight: 100;
}
.hero-text h2 {
  position: absolute;
  margin-top: 410px;
  left: 14%;
  z-index: 5;
  font-size: 20px;
  font-weight: 100;
}

.hero-text h3 {
  position: absolute;
  margin-top: 380px;
  left: 70%;
  z-index: 5;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.folio {
  color: white;
}
