.hero {
  min-height: 100vh;
}
.hero2 {
  position: relative;
  min-height: 100vh;
}
.half-image {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  object-position: 35% 50%;
  filter: grayscale(100%);
}
.hero-text {
  position: relative;
  height: 100vh;
}

.hero-text h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 150px;
  font-weight: 100;
  font-size: clamp(130px, 20vw, 250px);
}
.name {
  position: absolute;
  top: 55%;
  left: 16%;
  font-size: 20px;
  font-weight: 100;
  z-index: 5;
}

.semester {
  position: absolute;
  top: 52.5%;
  left: 69%;

  font-size: 20px;
  font-weight: 100;
  color: white;
  z-index: 5;
}

.folio {
  color: white;
}

.Introduktion {
  font-size: 16px;
  line-height: 2;
  margin: 40px 20px;
  max-width: 800px;
  text-align: justify;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 30px 30px 30px;

  background-color: #d8cfc2;
}
.Introduktion h2 {
  line-height: 1;
  text-align: center;
}

.intropic {
  border-radius: 200px;
  width: 250px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.line {
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 60px auto;
}

.overskrift {
  text-align: center;
}

.svg-scroll {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.svg-track {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.svg-track-reverse {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll-reverse 30s linear infinite;
}
@keyframes scroll-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
.svg-scroll img {
  width: 150px;
}
.svg-scroll-reverse img {
  width: 150px;
}

.iphone-stack {
  position: relative;
  width: 80px;
  height: 200px;
}

.img-bottom {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: auto;
  height: 195px;
  margin-left: 5px;
  margin-top: 18px;
  border-radius: 12px;
}

.img-top {
  position: absolute;
  z-index: 2;
  object-fit: cover;
  width: 100px;
  height: 230px;
}

#iphones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  row-gap: 80px;
  padding-top: 30px;
}
.mobil1,
.mobil2,
.mobil3,
.mobil4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-more {
  display: grid;
  gap: 20px;
  justify-items: center;

  text-align: center;
}

.knap {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 200px;
}
.knap:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.knap img {
  width: 100%;
  max-height: 180px;
  max-width: 180px;
  object-fit: cover;
  display: block;
  margin: 5px 10px;
}

.knap p {
  font-family: "Italianno", cursive;
  font-size: 22px;
}

[popover]::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
}

[popover] {
  padding: 20px;
  max-width: 400px;
  max-height: 1000px;
  margin: 200px auto;
  border-radius: 3px;
  line-height: 1.9;
}
[popover] h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
[popover] a {
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  background-color: #d8cfc2;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  margin: 20px auto 0;
  width: 180px;
  font-family: "Inria-serif", serif;
}

.invisible-trigger {
  position: absolute;
  top: 15px;
  width: 100px;
  height: 200px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;
}

@media (min-width: 1000px) {
  .hero2 {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    max-width: none;
    overflow: hidden;
  }
  .hero-text h1 {
    font-size: 250px;
  }

  .half-image {
    transform-origin: left center;
    transform: scale(1.7);
    height: 100vh;
  }

  .name {
    top: 61%;
    left: 32%;
    font-size: 28px;
  }

  .semester {
    top: 57%;
    left: 61%;
    font-size: 28px;
  }

  [popover] {
    padding: 20px;
    max-width: 600px;
    max-height: 1000px;
  }

  .Introduktion {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 70px;
    align-items: start;
    margin-top: 120px;

    margin-bottom: 100px;
    max-width: 1200px;
    justify-content: center;
  }

  .Introduktion h2 {
    text-align: start;
    padding-top: 130px;
    padding-left: 70px;
  }
  .Introduktion p {
    padding-left: 70px;
  }

  .intropic {
    width: 300px;
  }

  .overskrift {
    text-align: left;
    margin-left: 60px;
    width: 350px;
  }
  .svg-scroll {
    height: 250px;
    padding-top: 50px;
  }
  .svg-scroll img {
    width: 150px;
  }
  .svg-track {
    gap: 100px;
  }

  #iphones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 60px 250px;
    padding-top: 30px;
    width: 1000px;
  }
  .img-bottom {
    height: 200px;
    margin-top: 18px;
  }

  .img-top {
    height: 235px;
  }
  .knap {
    width: 320px;
  }
  .knap img {
    max-width: 300px;
    max-height: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  .knap p {
    text-align: center;
    width: 300px;
    font-size: 30px;
  }
  .knap:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  }

  .read-more {
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 250px;
    display: grid;
    place-items: center;
  }
  .forste-knap,
  .sidste-knap {
    display: grid;
    place-items: center;
    width: 400px;
  }

  .nav ul li a {
    text-decoration: none;
    color: #efece7;
  }

  .invisible-trigger {
    top: 20px;
    width: 95px;
    left: 2px;
    height: 200px;
    border-radius: 20px;
  }
  .invisible-trigger:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.55);
  }
}
