.hero2 {
  position: relative;

  min-height: 100vh;
}
.half-image {
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: 35% 50%;
}
.hero-text h1 {
  position: absolute;
  margin-top: 290px;
  margin-left: 10px;
  z-index: 5;
  font-size: 110px;
  font-weight: 100;
}
.hero-text h2 {
  position: absolute;
  margin-top: 380px;
  margin-left: 20px;
  z-index: 5;
  font-size: 20px;
  font-weight: 100;
}

.about {
  max-width: 700px;

  padding: 2rem 1.5rem 3rem;
  line-height: 1.9;
}

.about h2 {
  font-size: 35px;
  margin-bottom: -30px;
}

.about h3 {
  font-size: 35px;
  font-weight: 100;

  margin-left: 30px;
}
