.hero2 {
  position: relative;

  min-height: 100vh;
}
.half-image {
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: 35% 50%;
}
.hero-text h1 {
  position: absolute;
  margin-top: 290px;
  margin-left: 10px;
  z-index: 5;
  font-size: 110px;
  font-weight: 100;
}
.hero-text h2 {
  position: absolute;
  margin-top: 380px;
  margin-left: 20px;
  z-index: 5;
  font-size: 20px;
  font-weight: 100;
}

.about {
  max-width: 700px;

  padding: 2rem 1.5rem 3rem;
  line-height: 1.9;
}

.about h2 {
  font-size: 35px;
  margin-bottom: -30px;
}

.about h3 {
  font-size: 35px;
  font-weight: 100;

  margin-left: 30px;
}

.iphone-stack {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.img-bottom {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 170px;
  height: 370px;
  margin-top: 15px;
  border-radius: 25px;
}

.img-top {
  position: absolute;
  z-index: 2;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.education {
  text-align: center;
  padding: 3rem 1rem 5rem;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.education h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.edu-item h4 {
  margin-bottom: 10px;
}

.edu-line {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30px;
  margin-top: 10px;
  margin: 20px auto;
}

.experience {
  text-align: center;
  padding: 3rem 1rem 5rem;
  border-bottom: 1px solid #000;
}

.experience h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.ex-item h4 {
  margin-bottom: 10px;
}

.learn {
  max-width: 700px;
  padding: 2rem 1.5rem 3rem;
  line-height: 1.9;
}

.about h2 {
  font-size: 35px;
}

.cv2 {
  display: none;
}

@media (min-width: 1000px) {
  .half-image {
    transform-origin: right top;
    transform: scale(0.7);
    height: 1135px;
    width: 1200px;
  }

  .hero-text h1 {
    font-size: 250px;
    margin-top: 150px;
    margin-left: 30px;
  }

  .hero-text h2 {
    font-size: 60px;
    margin-left: 190px;
    margin-top: 340px;
    font-weight: 100;
  }
  .desktop-grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 70px;
    align-items: start;
    margin: 150px 60px;
  }
  .img-top {
    height: 500px;
    margin-top: -20px;
  }
  .img-bottom {
    height: 470px;
    margin-top: -5px;
    width: 220px;
  }

  .education {
    border-bottom: none;
    border-top: none;
    border-right: 1px solid #000;
  }
  .experience {
    border-bottom: none;
  }

  .line {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }

  .experience {
    display: none;
  }

  .cv-lines {
    width: 500px; /* justér så det matcher dit layout */
    margin-top: 10px;
    line-height: 2;
  }
  .cv-lines .years {
    margin-right: 20px;
  }

  .cv2 {
    position: absolute;
    padding: 40px 60px 55px 25px;
    display: block; /* hvis du tidligere har display:none på mobil */
    border-right: 1px solid #000;
  }

  .desktop-grid-edu {
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.5fr;
    gap: 10px;
    align-items: start;
    position: relative;
  }
  .learn {
    max-width: 70ch;
    margin-left: 60px;
    margin-top: 50px;
  }
}
