.main-line {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

main {
  padding: 20px 20px 20px;
}

.tema-nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
  font-weight: 0;
  margin-bottom: 20px;
  margin-top: 30px;
}
.tema-nav a {
  text-decoration: none;
  color: black;
}

.project-nav h3 {
  font-weight: 300;
}

.primær {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}

.project-content {
  max-width: 600px;
  margin: 0 auto;
}

.project-content h1 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.project-content h3 {
  font-size: 32px;
  font-weight: 200;
  margin-top: 20px;
}

.project-content p {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 60px;
}

.macbook-wrapper {
  position: relative;
  width: 400px;
  margin: 80px auto;
}

.macbook-frame {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.macbook-video {
  position: absolute;
  top: 0%;
  margin-left: 40px;
  width: 320px;
  height: auto;
  object-fit: cover;
  z-index: 1;
  border-radius: 4px;
}

.iphone-stacks {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.iphone-stack {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.img-bottom {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: auto;
  height: 170px;

  margin-top: 15px;
  border-radius: 10px;
}

.img-top {
  position: absolute;
  z-index: 2;
  object-fit: cover;
  width: 100px;
  height: 200px;
}

.section-with-points p {
  margin-bottom: 0;
}
.section-with-points ul {
  line-height: 2;
  margin-left: 20px;
}
.punkter {
  margin-bottom: 40px;
  margin-top: 20px;
}
